PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=your_pinecone_index_name_here
OLLAMA_BASE_URL=http://your_ollama_server/v1
OLLAMA_API_KEY=your_ollama_api_key_here
OLLAMA_MODEL=your_ollama_model_here
RAG_BASE_URL=http://localhost:8010
